<header class="masthead">
  <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times Logo">
  <nav class="language-nav">
    <ul>
      <li><a href="#CSS">CSS</a></li>
      <li><a href="#HTML">HTML</a></li>
      <li><a href="#Javascript">Javascript</a></li>
      <li><a href="#Ruby">Ruby</a></li>
    </ul>
  </nav>

  <nav class="masthead-links">
    <ul>
      <li>
        <time>Tuesday, October 18, 2016</time>
      </li>
      <li>
        <i class="fa fa-newspaper-o"></i>
        <a href="#todays-paper">Today’s Paper</a></li>
      <li>
        <i class="fa fa-video-camera"></i>
        <a href="#video">Video</a></li>
      <li>
        <button>77°F</button>
      </li>
      <li>
        <button>AAO</button><strong>+100%</strong>
      </li>
    </ul>
  </nav>
</header>
