<a href="<%= comment_url(comment) %>"><%= comment.content %> by <%= comment.author.username %></a>
<ul>
  <% @all_comments.each do |child| %>
    <% if child.parent_comment_id == comment.id %>
    <li>
      <%= render 'comments/comment', comment: child %>
    </li>
    <% end %>
  <% end %>
</ul>
